<h1>Task</h1>
<h2>
	<%=@task.name%>
</h2>
<p>
	<%=@task.description%>
</p>

<p>
	<%=@task.creator%>
</p>

<p>
	<%=@task.status%>
</p>

<p>
	<%=@task.description%>
</p>

<p>
	<%=@task.completed%>
</p>
<hr>
<%=link_to 'Edit', edit_task_path(@task)%>
<div>
	<%=link_to 'Delete', task_path(@task), data:{"turbo-method": :delete}%>
</div>
